/* ICONS */

.icon{
  background-size: cover;
  display: inline-block;
}

.icon--big{
  height: 48px;
  width: 48px;
}

.icon--medium{
  height: 32px;
  width: 32px;
}

.icon--small{
  height: 16px;
  width: 16px;
}


.icon-unity--white{
  background-image: url(../img/icons/unity.png);
}

.icon-unity--black{
  background-image: url(../img/icons/unity_inverse.png);
}

.icon-unreal--white{
  background-image: url(../img/icons/unreal.png);
}

.icon-unreal--black{
  background-image: url(../img/icons/unreal_inverse.png);
}

.icon-blender--white{
  background-image: url(../img/icons/blender.png);
}

.icon-blender--black{
  background-image: url(../img/icons/blender_inverse.png);
}

.icon-photoshop--white{
  background-image: url(../img/icons/photoshop.png);
}

.icon-photoshop--black{
  background-image: url(../img/icons/photoshop_inverse.png);
}

.icon-glsl--white{
  background-image: url(../img/icons/glsl.png);
}

.icon-glsl--black{
  background-image: url(../img/icons/glsl_inverse.png);
}

.icon-cplusplus--white{
  background-image: url(../img/icons/cplusplus.png);
}

.icon-cplusplus--black{
  background-image: url(../img/icons/cplusplus_inverse.png);
}

.icon-csharp--white{
  background-image: url(../img/icons/csharp.png);
}

.icon-csharp--black{
  background-image: url(../img/icons/csharp_inverse.png);
}

.icon-graduate--white{
  background-image: url(../img/icons/graduate.png);
}

.icon-mic--white{
  background-image: url(../img/icons/mic.png);
}

.icon-twitchtv--white{
  background-image: url(../img/icons/twitchtv.png);
}

.icon-linkedin--black{
  background: url(../img/icons/linkedin.png);
}

.icon-github--black{
  background: url(../img/icons/github.png);
}
