/* ICONS */

.icon{
  background-size: cover;
  display: inline-block;
}

.icon--big{
  height: 48px;
  width: 48px;
}

.icon--medium{
  height: 32px;
  width: 32px;
}

.icon--small{
  height: 16px;
  width: 16px;
}


.icon-unity{
  background-image: url(../img/icons/unity.png);
}

.icon-unity-inverse{
  background-image: url(../img/icons/unity_inverse.png);
}

.icon-unreal{
  background-image: url(../img/icons/unreal.png);
}

.icon-unreal-inverse{
  background-image: url(../img/icons/unreal_inverse.png);
}

.icon-blender{
  background-image: url(../img/icons/blender.png);
}

.icon-blender-inverse{
  background-image: url(../img/icons/blender_inverse.png);
}

.icon-photoshop{
  background-image: url(../img/icons/photoshop.png);
}

.icon-photoshop-inverse{
  background-image: url(../img/icons/photoshop_inverse.png);
}

.icon-glsl{
  background-image: url(../img/icons/glsl.png);
}

.icon-glsl-inverse{
  background-image: url(../img/icons/glsl_inverse.png);
}

.icon-cplusplus{
  background-image: url(../img/icons/cplusplus.png);
}

.icon-cplusplus-inverse{
  background-image: url(../img/icons/cplusplus_inverse.png);
}

.icon-csharp{
  background-image: url(../img/icons/csharp.png);
}

.icon-csharp-inverse{
  background-image: url(../img/icons/csharp_inverse.png);
}

.icon-graduate{
  background-image: url(../img/icons/graduate.png);
}

.icon-mic{
  background-image: url(../img/icons/mic.png);
}

.icon-twitchtv{
  background-image: url(../img/icons/twitchtv.png);
}

.icon-linkedin{
  background: url(../img/icons/linkedin.png);
}

.icon-github{
  background: url(../img/icons/github.png);
}
