/*  */
/* FONTS */
@font-face {
    font-family: 'WorkBl';
    src: url("../fonts/WorkSans-Black.ttf");
}

@font-face {
    font-family: 'WorkB';
    src: url("../fonts/WorkSans-Bold.ttf");
}
@font-face {
    font-family: 'Work';
    src: url("../fonts/WorkSans-Regular.ttf");
}


/* VARS */
:root {
  --color-prim: rgb(255, 180, 0);
  --color-prim: rgb(255, 180, 0);
  --color-sec: rgb(14, 196, 14);
}

/* HTML */

html
{
  scroll-behavior: smooth;
  font: 15px "Trebuchet Ms", monospace;
  font-family: Work;
}

/* BODY */

body
{
  width: 100%;
  padding: 0;
  margin: auto;
  color: white;
  text-align: left;
  background-color: rgb(24, 24, 24);
}


hr
{
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid grey;
}

h1{
  font-size: 44px;
  padding: 0;
  margin: 0;
  font-family: WorkBl;
}

h2{
  font-size: 30px;
  padding: 0;
  margin: 0;
}

h3{
  font-size: 22px;
  margin-bottom: 10px;
}

h4{
  font-size: 16px;
  padding: 0;
  margin: 0;
  opacity: 0.6;
}

p{
  padding: 0;
  margin: 0;
  font-family: Work;
  opacity: 0.9;
}

b{
  font-family: WorkB;
}

ul{
    font-family: Work;
    opacity: 0.8;
}

li{

}

/* ############################### Footer */
footer{
  padding: 10px;
  padding-top: 80px;
  color: lightgrey;
  background: url("../img/BlackPaper.png");
  background-position: center;
}

/* ############################### NAV */
nav{
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
  background: rgba(44,44,44,0.93);
  backdrop-filter: blur(5px);
  font-family: Work;
  /*
  display: flex;
  flex-direction: row;
  */
}

nav .nav-logo-container{
  position: relative;
  display: inline-block;
  height: 50px;
  text-align: center;
  float:left;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 40px;
  user-select: none;
  cursor: default;
  transition: background 0.3s;
}
nav .nav-logo-container h1{
  font-family: WorkB;
  font-size: 36px;
  padding-top: 4px;
}

nav .nav-logo-container:hover
{
  background: rgba(255,255,255,0.2);
}
nav .nav-logo-container:active
{
  transition: background 0.1s;
  background: rgba(0,0,0,0.2);
}

nav .nav-btn{
  height: 50px;
  min-width: 100px;
  position: relative;
  display: inline-block;
  outline: 0;
  margin: 0;
  border: none;
  font-family: Work;
  font-size: 16px;
  color: white;
  background: none;
  transition: background 0.3s;
}

nav .nav-btn:hover
{
  background: rgba(255,255,255,0.2);
}
nav .nav-btn:active
{
  transition: background 0.1s;
  background: rgba(0,0,0,0.2);
}

nav .active{
  /*box-shadow: inset 0px -2px 0px -1px white;*/
  color:var(--color-prim);

}
nav .active::after{
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 1px;
  margin: auto;
  background: white;
  animation: activate-nav-btn 0.2s normal forwards linear;
}

nav .nav-button-container{
  height: 100%;
  display: inline-block;
}
nav .nav-socialmedia-container{
  height: 100%;
  display: inline-block;
  float: right;
  margin-right: 20px;
}

nav .nav-btn--burger{
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 0;
  opacity: 0.5;
}

nav .nav-menu{
  min-height: 50px;
  width: 100%;

}
/* opened navigation (for mobiles) */
.nav-open{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(44,44,44,1);
}

.nav-open .nav-menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  max-width: 250px;
  margin: auto;
}

.nav-open .nav-logo-container
{
  width: 100%;
  padding: 0;
  margin: auto;
  margin-bottom: 15px;
}

.nav-open .nav-button-container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}
.nav-open .nav-btn{
  height: 40px;
  width: 100%;
  margin: auto;
}

.nav-open .nav-socialmedia-container
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-right: 0;
}

.nav-open .btn--socialmedia{
  margin-left: 8px;
  margin-right: 8px;
}


@keyframes activate-nav-btn {
  0%
    {
      width: 0%;
      left: 50%;
    }
  100%
    {
      width: 100%;
      left: 0;
    }
}

/* ############################### HEADER */
header{
  height: 100vh;
  background: linear-gradient(to bottom, rgb(24, 24, 24) 40%, black);
}

header .container{
  position: relative;
  height: 100%;
  width: 100%;

  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .container .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  padding-right: 50px;
}

header .container .logo{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

header .icons{
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

header .icons .icon{
  margin-left: 7px;
  margin-right: 7px;
}


header h3{
  color: grey;
}
header h3::before{
  content: "/*";
}
header h3::after{
  content: "*/";
}

header b{
  font-family: WorkBl;
  color: var(--color-sec);
}

header .bigIcosphereLogo{
  margin: auto;

}




/* ############################### MAIN */

main{
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  background: black;
  color: black;
}

main h1{
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: solid 1px rgb(14, 196, 14);
  border-bottom: solid 1px grey;
  box-shadow: 0px 7px 10px -7px rgba(100,100,100, 0.5);
}
/*
main h1::after{
  content: "_";
  color: lightgrey;
  animation: marker-trigger 1.5s infinite;
  animation-timing-function: linear;
}

@keyframes marker-trigger {
  0%   {content: "_";}
  40%  {content: "_";}
  50%  {content: "";}
  100% {content: "";}
}
*/

main .nav-link{

}

main .container{
  background: rgb(240,240,240);
  max-width: 1200px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 50px;
  /*
  background: rgb(24,24,24);
  color: white;
  */
}

/* >>>>>>>>>>>>>>>>> Buttons */

.btn{
  border: none;
  outline: 0;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  border-radius: 4px;
  font-family: WorkB;
  color: rgb(240,240,240);
  background: rgba(52, 191, 50,1);
  box-shadow:
      inset 0px 15px 16px -15px rgba(255,255,255, 0.3),
      0px 3px 7px rgba(0,0,0,0.2);
  transition: background 0.3s, box-shadow 0.2s;
}

.btn:hover{
  background: rgba(14, 196, 14,1);
  box-shadow: inset 0px 15px 16px -15px rgba(255,255,255, 0);
}

.btn:active{
  transition: background 0.1s, box-shadow 0.1s;
  background: rgba(45,164,50,0.5);
  box-shadow: none;
}

.btn--socialmedia{
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0;
  border: none;
  border-radius: 6px;
  background: none;
  outline: 0;
  transition: background 0.3s, opacity 0.2s;
  overflow: hidden;
}
.btn--socialmedia img{
  height: 40px;
  width: 40px;
  margin: auto;
  padding: 0;
  background-position: center;
  background-size: cover;
}

.btn--socialmedia:hover{
  background: rgba(255,255,255,0.4);
}

.btn--socialmedia:active{
  background: rgba(255,255,255,0.0);
  opacity: 0.6;
}


/* >>>>>>>>>>>>>>>>> CARD */
.card-container{
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  min-height: 200px;
  width: 300px;
  margin: 20px;
  margin-top: 30px;
  /*background: rgb(235,235,235);*/
  border-top: solid 2px var(--color-sec);
  /*border: solid 1px grey;*/
  /*box-shadow: inset 0 7px 12px -7px rgba(0,0,0,0.4);*/
  box-shadow: 0px 5px 15px rgba(50,50,50,0.3);
}

.card-icon-container{
  margin: auto;
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.card p{
  padding: 20px;
}

/* >>>>>>>>>>>>>>>>> WORK */

main .work{
  /*max-width:1200px;*/
}
.job-project{
  margin-left: 40px;
  padding-left: 10px;
  margin-right: 50px;
  border-left: solid 2px black;
}

/* >>>>>>>>>>>>>>>>> PROJECT */

main .projects{
  /*max-width:1200px;*/

}

.project{
  width: 100%;
  min-height: 315px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project .image{
  width: 560px;
  height: 315px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  background: black;
  box-shadow: 0px 4px 26px rgba(100,100,100,0.6);
  overflow: hidden;
}
.project .image img{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.project .image iframe{
  width: 100%;
}

.project .description{
  width: 560px;
  /*max-height: 315px;*/
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  /*
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  */
}

.project .description h2{
  border-bottom: solid 1px black;
  padding-bottom: 2px;
  box-shadow: 0px 7px 10px -7px rgba(100,100,100, 0.5);
}

.project .description p{
  margin-top: 15px;
  padding-bottom: 10px;
  /*
  padding-bottom: 20px;
  border-bottom: solid 1px black;
  */
}

.project .description .icon{
  float: right;
  margin-left: 7px;
  margin-top: 5px;
}

.project .description .btn{
  margin-top: 10px;
}

/* ################################ vertical */
@media only screen and (max-width: 1600px) {
  header .container .title{
    padding-left: 50px;
  }
}


@media only screen and (min-width: 920px) {
  nav .nav-btn--burger{
    display: none;
  }
}
@media only screen and (max-width: 920px) {
  nav .nav-button-container{
      display: none;
  }
  nav .nav-socialmedia-container{
      display: none;
  }
  nav .nav-btn--burger{
      display: block;
  }

}


@media only screen and (max-width: 768px) {
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 16px;
  }

  header .container{
    flex-direction: column;
    justify-content: center;
  }
  header .container .title{
    order:2;
  }
  header .container .logo{
    order:1;
    width: 100%;
  }
  .project .image{
    height: 43vw;
  }
  .project .image iframe{
    height: 43vw;
  }
  .card{
    width: 100%;
    min-height: 0;
  }

}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 27px;
  }
  h3{
    font-size: 20px;
  }
  h4{
    font-size: 14px;
  }

  header h3{
    font-size: 18px;
  }
  header .container .title{
    padding-left: 25px;
    padding-right: 25px;
  }
  header .container .logo{

  }

  main .container{
    padding-left: 25px;
    padding-right: 25px;
  }
  .job-project{
    margin-left: 10px;
    margin-right: 10px;
  }
  nav .nav-logo-container{
    margin-left: 10px;
  }
}


@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 14px;
  }

  header h3{
    font-size: 12px;
  }

}
