@font-face {
  font-family: 'Basic';
  src: url("../fonts/Basic-Regular.ttf");
}
@font-face {
  font-family: 'Archivo';
  src: url("../fonts/ArchivoBlack.otf");
}
@font-face {
  font-family: 'Attractive';
  src: url("../fonts/Attractive-Regular.ttf");
}

@font-face {
  font-family: 'Manners';
  src: url("../fonts/Domestic_Manners.ttf");
}

@font-face {
  font-family: 'SourceCode';
  src: url("../fonts/SourceCodePro.ttf");
}

@font-face {
  font-family: 'Aileron-Black';
  src: url("../fonts/Aileron-Black.otf") format("opentype");
}
@font-face {
  font-family: 'Aileron-Regular';
  src: url("../fonts/Aileron-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli.ttf") format("opentype");
}
@font-face {
  font-family: 'Muli-Bold';
  src: url("../fonts/Muli-Bold.ttf") format("opentype");
}

:root {
  --bg:white;
  --col: black;
  --border: rgb(50,50,50);
  --nav-height: 70px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  text-align: left;
  font-family: Muli;
  letter-spacing: -1px;
  background: white;
  color: black;
}

body{
  min-height: 100vh;
  
}

/*
#################################
            Text
#################################
*/
p{
  font-size: 18px;
}

h1{
  font-size: 45px; 
  width: 100%;
  margin-bottom: 60px;
  padding-bottom: 5px;
  font-family: Aileron-Black;
}

h2{
  font-size: 30px;
}

h3{
  width: 100%;
  font-size: 25px;
}

h4{
  font-size: 25px;
}

h5{
  font-size: 15px;
}

h6{
  font-size: 20px;
}



/*
#################################
            Buttons
#################################
*/

button{
  border: none;
  background: 0;
  font-size: 20px;
  cursor: pointer;
  color: rgb(238, 238, 238);
}

.btn{
  font-weight: bold;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background: rgba(255,255,255,0.2);

  border: 1px solid white;
  transition: background 0.2s;

}

.btn:hover{
  background: rgba(255,255,255,0.3);
}


/*
#################################
            Layout containers
#################################
*/

.wrapper{
  margin: auto;
  width: 100%;
  padding-bottom: 100px;
  z-index: 1;
}

.wrapper h3 img{
  width: 50px;
  height: 50px;
  margin-bottom: -15px;
  opacity: 0.7;
}

.container{
  margin: auto;
  max-width: 1200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.bar{
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
#################################
            Header
#################################
*/
header{
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: #f1f1f1;
  z-index: 0;
  user-select: none;
}

header h1{
  font-size: 60px;
  margin-bottom: 0;
}

header p{
  text-shadow: 0px 2px 0px black;
  font-size: 18px;
  padding-left: 10px;
  color: #d8d8d8;
}

header p::after{
  content: "";
  animation: bit-magic 1s infinite linear;
}

@keyframes bit-magic {
  0% {
    content: "";
  }
  10% {
    content: "∎";
  }
  12% {
    content: "∎";
  }
  20% {
    content: "";
  }
  27% {
    content: "∎";
  }
  30% {
    content: "";
  }
  35% {
    content: "∎";
  }
  40% {
    content: "";
  }
  45% {
    content: "∎";
  }
  80% {
    content: "";
  }
  90% {
    content: "∎";
  }
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}


header .logo{
  left:66%;
  top:40%;
  position: absolute;
  z-index: 2;
  
  user-select: none;
}

header .logo img{
  position: absolute;
  height: 15vh;
  width: 15vh;
  animation: mh-logo-m 5s;
}
header .logo img:nth-child(2){
  animation: mh-logo-h 5s;
}

@keyframes mh-logo-m {
  0% {
    opacity: 0;
    top: -50px;
  }
  20% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes mh-logo-h {
  0% {
    opacity: 0;
    top: 50px;
  }
  20% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }

}


.header-bg-shader, .land-shader{
  position: fixed;
}

.header-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*
#################################
            Scroll Indicator
#################################
*/
.scroll-indicator{
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);
  bottom: 10%;
  width: 16px;
  height: 25px;
  border: 1px solid white;
  border-radius: 16px;
}

.scroll-indicator::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 20%;
  width: 4px;
  height: 4px;
  background: rgba(223, 223, 223, 1);
  border-radius: 16px;
  z-index: 2;
  animation: scroll-dot-anim 1s infinite;
}

@keyframes scroll-dot-anim {
  0% {
    top: 10%;
    opacity: 0;
  }
  10% {
    top: 15%;
    opacity: 1;
  }
  100% {
    top: 35%;
    opacity: 0;
  }
}

.scroll-indicator::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-72%, 0);
  top: 130%;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  rotate: 45deg;
  
  z-index: 2;
  animation: scroll-arrow-anim 1s infinite;
}

@keyframes scroll-arrow-anim {
  0% {
    top: 150%;
    opacity: 0;
  }
  10% {
    top: 160%;
    opacity: 1;
  }
  70%{
    opacity: 0.5;
  }
  100% {
    top: 180%;
    opacity: 0;
  }
}

/*
#################################
            Nav
#################################
*/

nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  color: white;;
  z-index: 5;
  background: black;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

nav .nav-wrapper{
  position: relative;
  height: 100%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

nav .logo{
  display: flex;
  position: absolute;
  align-items: center;
  font-size: 40px;
  top: 2px;
  left: 0px;
  font-family: Muli-Bold;
  cursor: pointer;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav .tabs{
  position: absolute;
  display: flex;
  align-items:center;
  top: 26px;
  right: 0px;
  
}

/*nav open*/
.nav-open{
  height: 100%;
  justify-content: center;
}

.nav-open .nav-wrapper{
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

.nav-open .logo{

}

.nav-open .tabs{
  height: auto;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.nav-open .tabs button{
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-open .links{
  display: flex;
  justify-content: center;
  margin:0;
}

.nav-open .links button{
  margin-left: 5px;
  margin-right: 5px;
}

/*NAV BUTTONS*/

nav button{
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  bottom: 0;

  font-size: 20px;
}

nav button:hover{
  color: rgb(200,200,200);
}

nav button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.1s ease-out;
}

nav button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav .btn--active{
  color: rgb(200,200,200);;
}

nav .btn--active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav .btn-burger {
  position: absolute;
  display: block;
  right: 0;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
  display: none;
}

nav .btn-burger .bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background: white;
  margin: 8px 0;
  transition: 0.2s;
}

nav .btn-burger::after {
  content: "";
  background: 0;
}

nav .btn-burger-toggle .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

nav .btn-burger-toggle .bar2 {
  opacity: 0;
}

nav .btn-burger-toggle .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*                                        */

.btn-socialmedia{
  background: white;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  transition: background 0.3s, opacity 0.2s;
  overflow: hidden;
  background: rgba(255,255,255,0.0);
}
.btn-socialmedia img{
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  background-position: center;
  background-size: cover;
}

.btn-socialmedia:hover{
  background: rgba(255,255,255,0.6);
}

.btn-socialmedia:active{
  background: rgba(255,255,255,0.0);
  opacity: 0.6;
}



/*
#################################
            Main
#################################
*/

main{
  width: 100%;
  color: rgb(40,40,40);
  background: rgb(250,250,250);
}
.main-bg{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(45deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 74%, rgba(236,236,236,1) 100%);  
}
main h1{
  font-size: 60px;
  color: black;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(150,150,150);
  margin-top: 80px;
}

/*
#################################
            Main
#################################
*/

footer{
  height: 70px;
  background: rgb(20,20,20);
}

/*
#################################
            About
#################################
*/

.about{

}
.about .bar{
  margin-bottom: 20px;
  margin-top: 50px;
}

.about .bar:nth-of-type(1){
  margin-top: 0px;
}

.about p{
  text-indent: 50px;
  margin-left: 50px;
}

.about h3{
  margin-bottom: 30px;
  width: 100%;
}

.skills-list{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-list .title{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.skills-list ul{

  display: block;
}

.skills-list li{
  position: relative;
  margin-left: 15px;

  list-style-type: none;
}
/*
.skills-list .title::before, .skills-list .title::after{
  display: none;
}
.skills-list li::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  border: solid 1px black;
}
.skills-list li::after{
  content: '';
  position: absolute;
  height: 3px;
  bottom: -3px;
  left: 1px;
  background: rgb(40,40,40);
}
.skills-list .p10::after{
  width: 10%;
}
.skills-list .p20::after{
  width: 20%;
}
.skills-list .p30::after{
  width: 30%;
}
.skills-list .p40::after{
  width: 40%;
}
.skills-list .p50::after{
  width: 50%;
}
.skills-list .p60::after{
  width: 60%;
}
.skills-list .p70::after{
  width: 70%;
}
.skills-list .p80::after{
  width: 80%;
}
.skills-list .p90::after{
  width: 90%;
}
.skills-list .p100::after{
  width: 100%;
}
*/
.about .about-box{
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 100px;
}

.infobox{
  width: 350px;
  height: 300px;
  background: rgb(10,10,10);
  margin-top: 50px;
}

/*
#################################
            Icons carousel
#################################
*/

.icons-carousel{
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  overflow: hidden;
  opacity: 0.7;
  -webkit-mask-image: linear-gradient(to right,
    rgba(255, 255, 255, 0.0),
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0.0));
}

.icons-carousel .icon{
  position: absolute;
  top: 5px;
  left: 0px;
}

.icon-carousel{
  height: 48px;
  width: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
}


/*
#################################
            Projects
#################################
*/

.projects{
  
}

.projects .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.project{
  position: relative;
  margin: auto;
  margin: 20px;
  margin-bottom: 100px;
  
  width: 80vw;


  cursor: pointer;
  color: white;

  transition: background-color 0.5s, margin-top 0.5s, margin-bottom 0.5s;
}

.project h2{

  margin-left: 10px;
  font-size: 40px;
  text-shadow: 
    1px 0px black,
    -1px 0px black,
    0px -1px black,
    1px 3px black,
    -1px 3px black,
    0px 3px black;
  z-index: 3;
}

.project .description{
  position: relative;
  width: 100%;
  bottom: 0;
  background: rgba(0,0,0,.1);
  z-index: 3;
}

.project .description p{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: black;
  text-shadow: 0px -1px white;
}

.project .image{
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.project img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
.project .image::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  background: linear-gradient(130deg, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));
	background-size: 400% 100%;
  animation: 0;
  opacity: 0; 
  
  transition: opacity 0.5s, background-position 0.5s;

  z-index: 1;
}

.project:hover .image::after{
	opacity: 0.15;
  background-position: 100% 0%;
}

.project:hover{
  margin-top: 10px;
  margin-bottom: 30px;
}
*/

.project .icons{
  position: absolute;
  right: 10px;
  top: 10px;
  
  z-index: 3;
}

.project .icon{ 
  float: right;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.1));
  z-index: 2;
  width: 50px;
  height: 50px;
}


.project .btn{
  width: 100%;
  color: white;
  border: 1px solid black;
  background-color: grey;
  transition: background-color 0.3s;
  margin-top: 5px;
}
.project .btn:hover{
  background: linear-gradient(0deg, rgba(8, 107, 219,0.7) 50%, rgba(6, 162, 252,0.7) 100%);
}



/*
#################################
            Contact
#################################
*/
.contact{


  min-height: 50vh;
}
.contact h1{

}

.contact .text{
  margin: auto;
}
.contact .links{
  margin: auto;
}

.contact b{
  user-select: none;
}





/*
#################################
            Media queries
#################################
*/

