/*  */
/* FONTS */

@font-face {
    font-family: 'Archivo';
    src: url("../fonts/ArchivoBlack.otf");
}

@font-face {
    font-family: 'Caudex';
    src: url("../fonts/Caudex-Regular.ttf");
}


@font-face {
    font-family: 'CaudexB';
    src: url("../fonts/Caudex-Bold.ttf");
}

/* VARS */


/* HTML */

html
{
  scroll-behavior: smooth;
  font: 15px "Trebuchet Ms", monospace;
  font-family: Caudex;
}

/* BODY */

body
{
  width: 100%;
  padding: 0;
  margin: auto;
  color: black;
  text-align: center;
  background-color: rgb(252, 252, 252);
  background: url("../img/paper1white.png");
  background-size: 512px 512px;
  background-position: center;
}

/* >>>>>>>>>>>>>>>>> TEXT */

h1
{
  font-size: 50px;
  margin: 0;
  text-align: center;
}

h2
{
  font-size: 32px;
  margin: 0;
}

h3
{
  font-size: 26px;
  margin: 0;
}

h4
{
  font-size: 16px;

  margin: 0;
}

h5
{
  font-size: 14px;
  margin: 0;
}

p{
  font: 15px "Trebuchet Ms", monospace;

}

b{
  color: black;

}

li{
  font: 15px "Trebuchet Ms", monospace;
}

hr
{
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid rgb(160,160,160);
}

/* >>>>>>>>>>>>>>>>> NAV */
nav{
  position: fixed;
  width: 100vw;
  height: 70px;
  background: black;
  z-index: 10;
  color: white;
}

nav{
  width: 340px;
  height: 100vh;
  font-family: vga;
}

/* >>>>>>>>>>>>>>>>> HEADER */
header
{
  width: 100%;

  background-color: rgb(20, 20, 20);
  background-image:
   linear-gradient(to bottom, transparent 90%, black 100%),
   url("../img/paper1.png");
  background-position: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header .container-top{
  width: 100%;
}

header .container-mid{
  padding-top: 50px;
  width: 100%;
}

header .container-bottom{
  padding-top: 80px;
  padding-bottom: 10px;
  width: 100%;
}

header .container-bottom .icons{

}

header .container-bottom .icon{
  margin-left: 6px;
  margin-right: 6px;
}

header .LogoShader{
  margin-top: 20px;

}

header h1
{

  position: absolute;
  width: 100%;
  margin: auto;
  top:20%;
  color: black;
  mix-blend-mode:difference;
  filter: invert(100%);
  font-size: 10vw;
}
/*
header h1
{
  text-align: center;
  margin-bottom: 6px;
  color: white;
  text-shadow:
  0px 2px 0px rgb(100,100,100),
  0px 3px 0px rgb(100,100,100),
  0px 4px 0px rgb(100,100,100),
  0px 5px 0px rgb(100,100,100);
}

*/

header h2
{
  font-size: 20px;
  color: rgb(200,200,200);
  max-width: 400px;
  margin: auto;
  margin-top: 10px;
}

header hr{
  margin-top: 0;
  margin-bottom: 0;
  width:400px;
}

/* >>>>>>>>>>>>>>>>> MAIN  */

main
{
  width: 100%;
  margin:auto;
  text-align: left;
}

main h1{
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px grey;
  box-shadow: 0 7px 9px -7px rgba(0,0,0,0.2);
}

main h1::before{
  content: "\25C8";
  padding: 20px;
  font-size: 40px;
}
main h1::after{
  content: "\25C8";
  padding: 20px;
  font-size: 40px;
}


/* >>>>>>>>>>>>>>>>> FOOTER */

footer
{
    bottom: 0;
    min-height: 100px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: white;
    background: rgb(10, 10, 10);
}

/* >>>>>>>>>>>>>>>>> buttons */

.btn{
  background: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  border: solid 2px rgb(0,70,200);
  color: rgb(0,70,200);
  transition: background 0.5s;
}

.btn:hover{
  background: rgba(0,120,250,0.2);
}

.btn:active{
  outline: 0;
  transition: background 0.2s;
  background: rgba(0,80,120,0.3);
}

.btn:focus{
  outline: 0;
}

/* >>>>>>>>>>>>>>>>>  CONTENT CONTAINER */

.content-container{
  #margin-left: 340px;
}


/*  >>>>>>>>>>>>>>>>> CHAPTERS */

.chapter-container{
  margin: auto;
  width: 100%;
  padding-bottom: 40px;
}

.chapter-container-inner{
  max-width: 1000px;
  margin: auto;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* >>>>>>>>>>>>>>>>> ABOUT */

.about{
  padding-top: 30px;
}

.about h3{
  margin-top: 30px;
}

.about p{
  margin-left: 50px;
  margin-right: 50px;
}

/* >>>>>>>>>>>>>>>>> WORK */

.work{

}

.work h2{
  padding-top: 10px;
}

.work .dot{
  margin-left: 45px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.work .dot::before{
  content: "\25C6";
}

.work .job-project{
  margin: auto;
  padding-left: 10px;
  margin-left: 70px;
  margin-right: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-left: 2px solid rgb(60,60,60);
}


/* >>>>>>>>>>>>>>>>> PROJECT */
.projects{
  /*max-width:1200px;*/
  background: rgba(225,225,225,1);
  box-shadow: inset 0 7px 5px -7px rgba(0,0,0,0.1);
}


.projects .chapter-container-inner{
  max-width: 1200px;
}

.project{
  width: 100%;
  min-height: 315px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project .image{
  width: 560px;
  height: 315px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  background: black;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.3);
  overflow: hidden;
}

.project .image iframe{
  width: 100%;
}

.project .description{
  width: 560px;
  max-height: 315px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  /*
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  */
}

.project .description h2{
  border-bottom: solid 1px black;
  padding-bottom: 2px;
}

.project .description p{
  margin-top: 15px;
}

.project .description .icon{
  float: right;
  margin-top: 6px;
  margin-left: 7px;
}

.project .description .btn{
  width: 100%;
  margin-top: 10px;
}
